<script src="../account-detail/account-detail.component.ts"></script>
<h2>Staff Dashboard</h2>
<div class="row justify-content-around">
  <div class="card col-md-4"  >
    <div class="card-header">New Account Authentication</div>
    <div *ngFor="let vAccount of verifiedAccounts" class="row">
    <!--<div class="card col-md-8"  >-->
      <div class="card-body row" (click)="showDetail(vAccount.uid)">
        <div class="col-md-10 col-sm-10">
          <p class="card-text">{{vAccount.studentId}} {{vAccount.firstname}} {{vAccount.lastname}}</p>
        </div>
      </div>
  <!--</div>-->
    </div>
  </div>

  <div class="card col-md-4"  >
    <div class="card-header">Rejected Account</div>
    <div *ngFor="let dAccount of disapprovedAccounts" class="row">
      <!--<div class="card col-md-8"  >-->
      <div class="card-body row" (click)="showDetail(dAccount.uid)">
        <div class="col-md-10 col-sm-10">
          <p class="card-text">{{dAccount.studentId}} {{dAccount.firstname}} {{dAccount.lastname}}</p>
        </div>
      </div>
      <!--</div>-->
    </div>
  </div>

  <div class="card col-md-4" >
    <div class="card-header">Training Account</div>
    <div *ngFor="let tAccount of trainingAccounts" class="row">
      <!--<div class="card col-md-8"  >-->
      <div class="card-body row" (click)="showDetail(tAccount.uid)">
        <div class="col-md-10 col-sm-10">
          <p class="card-text">{{tAccount.studentId}} {{tAccount.firstname}} {{tAccount.lastname}}</p>
        </div>
      </div>
      <!--</div>-->
    </div>
  </div>

  <button mat-fab class="mat-fab mat-fab-bottom-right" id="fab-button" color="warn" (click)="logout()" >
    <mat-icon>exit_to_app</mat-icon>
  </button>

</div>



