<div class="form">
<h2>Register</h2>
<h4>Step 1 of 3: Enter account information </h4>
<div class="container mat-app-background">
  <div class="row">
    <div class=" col-md-12">
      <div class="form-group">
        <p></p>
        <form #emailRegisterForm="ngForm" (ngSubmit)="onSubmit(account)">
          <!--<div class="row form-group" >
            <label class="col-2 text-right">Username </label>
            <div class="col-6">
              <input type="text" class="form-control" id="username"
                     placeholder="eg.CAMT" name="username"
                     [(ngModel)]="account.username" #userName="ngModel"
                     required pattern="^(?=.*[a-z])(?=.*[A-Z]).{6,32}$"/>
            </div>
            <div class="col-4">
              <div *ngIf="!userName.valid && userName.touched">Username must be 6-32 characters, 0-9, a-Z, cannot repeat and empty</div>
            </div>
          </div>-->

          <div class="row form-group">
            <label class="col-2 text-right">Email </label>
            <div class="col-6">
              <input type="email" class="form-control" id="email" name="email"
                     [(ngModel)]="account.email" #eMail="ngModel"
                     required email />
            </div>
            <div class="col-4">
              <div *ngIf="!eMail.valid && eMail.touched" style="color: red">Email is required</div>
            </div>
          </div>

          <div class="row form-group">
            <label class="col-2 text-right">Password </label>
            <div class="col-6">
              <input type="password" class="form-control" id="password"
                     name="password" [(ngModel)]="account.password"
                     #passWord="ngModel" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,32}$"/>
            </div>
            <div class="col-4">
              <div *ngIf="!passWord.valid && passWord.touched" style="color: red">Password must be 8-32 characters and including 0-9, a-z and A-Z and cannot empty</div>
            </div>
          </div>

          <div class="row form-group">
            <label class="col-2 text-right">Confirm password </label>
            <div class="col-6">
              <input type="password" class="form-control" id="confirmPassword"
                     name="confirmPassword" [(ngModel)]="account.confirmPassword"
                     #confirmPassWord="ngModel" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,32}$"/>
            </div>
            <div class="col-4">
              <div *ngIf="!confirmPassWord.valid && confirmPassWord.touched" style="color: red">Confirm-Password must be 8-32 characters and including 0-9, a-z and A-Z and cannot empty</div>
            </div>
          </div>

          <div class="row form-group">
            <label class="col-2 text-right"> </label>
            <div class="col-6 text-right">
              <button type="submit" class="btn btn-primary mx-2" [disabled]="!emailRegisterForm.form.valid" >Register</button>
            </div>
          </div>


        </form>
      </div>
    </div>
  </div>


</div>
</div>
