<div class="container">
  <div class="row justify-content-center">
    <h2>Face login success!!</h2>
  </div>
  <div class="row justify-content-center">
    <div class="col-6 justify-content-center">

      <div class="row justify-content-center"><b>Success rate: {{showConfidence}}%</b></div>

      <mat-progress-bar
        class="example-margin"
        [color]="color"
        [mode]="mode"
        [value]="value"
        [bufferValue]="bufferValue">
      </mat-progress-bar>
      <br/>
      <div class="row justify-content-center"><b>Welcome back! {{showStudentId}}</b></div>

    </div>

    <button mat-fab class="mat-fab mat-fab-bottom-right" id="fab-button" color="warn" (click)="logout()" >
      <mat-icon>exit_to_app</mat-icon>
    </button>

  </div>

</div>

