<div class="container">
  <div class="row justify-content-center">
    <h2>Face login success!!</h2>
  </div>
  <div class="row justify-content-center">
    <div class="col-6 justify-content-center">
      <div class="row justify-content-center"><b>Success rate: 80%</b></div>
      <!--For success rate-->
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
  </div>
</div>
