<!--<script src="../phoneno-verification/phoneno-verification.component.ts"></script>
<script src="../assets/videoScript.js"></script>-->
<h1>Register</h1>
<h4>Step 2.2 of 3: Take face video with student card and the random text </h4>
<div class="row">
  <div class=" col-md-12">
    <div class="form-group">
      <p></p>
      <form>

        <div class="row pb-3">
          <label class="col-2 text-right">Random Text: </label>
          <div class="col-8">
            <label class="col-6">{{randomtext}}</label>
          </div>
        </div>
        <div class="row pb-3">
          <label class="col-2 text-right">Important! </label>
          <div class="col-8">
            <label class="col-6">Please, write the random text on a plain paper and holding with student card to take the video.</label>
          </div>
        </div>

        <piperecorder id="custom-id" pipe-width="400" pipe-height="330" pipe-qualityurl="avq/300p.xml" pipe-accountHash="f688dac4391b8f380cc0069ed5a57b14" pipe-eid="1" pipe-showMenu="1" pipe-mrt="120" pipe-sis="0" pipe-asv="0" pipe-mv="0" pipe-dpv="0" pipe-ao="0" pipe-dup="0" ></piperecorder>

      </form>
    </div>
  </div>
</div>


<script>
  PipeSDK.onRecordersInserted = function(){
    myRecorderObject =  PipeSDK.getRecorderById('f688dac4391b8f380cc0069ed5a57b14');
    myRecorderObject.btRecordPressed = function(id){
      var args = Array.prototype.slice.call(arguments);
      console.log("btRecordPressed("+args.join(', ')+")");
    }
  }
</script>


<!--<div>
  <app-webcam [trigger]="triggerObservable" (imageCapture)="handleImage($event)" *ngIf="showWebcam"></app-webcam>
  <button class="actionBtn" (click)="triggerSnapshot();">Take A Snapshot</button>
  <button class="actionBtn" (click)="toggleWebcam();">Toggle Webcam</button>
</div>

<div class="snapshot" *ngIf="webcamImage">
  <h2>Nice one!</h2>
  <img [src]="webcamImage.imageAsDataUrl"/>
</div>
<br>-->

<button type="button" class="btn btn-primary mx-2" (click)="onSubmit()">Next</button>
