<div *ngIf="showWebcam">
  <webcam [height]="500" [width]="500" [trigger]="triggerObservable" (imageCapture)="handleImage($event)"
          [switchCamera]="nextWebcamObservable"ß
          (cameraSwitched)="cameraWasSwitched($event)"
          (initError)="handleInitError($event)"
  ></webcam>
  <br/>
  <button class="actionBtn" (click)="triggerSnapshot();">Take A Photo</button>
  <br/>
  <!--<br/>-->
  <!--DeviceId: <input id="deviceId" type="text" [(ngModel)]="deviceId" style="width: 500px">-->
  <!--<button (click)="showNextWebcam(deviceId);">Activate</button>-->
</div>
<div *ngIf="showWebCamImage">
  <div class="snapshot" *ngIf="webcamImage">
    <img [src]="webcamImage.imageAsDataUrl"/>
    <p> </p>
    <button class="actionBtn" (click)="retakePhoto()" >Retake a photo</button>
  </div>
</div>

<h4 *ngIf="errors.length > 0">Messages:</h4>
<ul *ngFor="let error of errors">
  <li>{{error | json}}</li>
</ul>
