<h1>Register</h1>
<h4>Step 1 of 3: Verification email</h4>
<div class="row">
  <div class=" col-md-12">
    <div class="form-group">
      <p>Confirm verification email</p>
      <form>

        <div class="row pb-3">
          <label class="col-2 text-right">Email: </label>
          <div class="col-8">
            <label class="col-2 text-right">{{email}}</label>
          </div>
        </div>
        <div class="row pb-3">
          <label class="col-2 text-right">Username: </label>
          <div class="col-8">
            <label class="col-2 text-right">{{username}}</label>
          </div>
        </div>
        <hr>
        <div class="row pb-3">
          <label class="col-2 text-right"></label>
          <div class="col-8">
            <label class="col-4 text-right">User must input information</label>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
<button type="button" class="btn btn-primary mx-2" (click)="registerstep2()">Next</button>
