<script src="inforegistration.component.ts"></script>
<div class="form">
<h1>Register</h1>
<h4>Step 2 of 3: Enter personal information </h4>
<div class="container mat-app-background">
  <div class="row">
    <div class=" col-md-12">
      <div class="form-group">
        <p></p>
        <form #infoRegisterForm="ngForm" (ngSubmit)="onSubmit(account)">
            <div class="row form-group" >
              <label class="col-2 text-right">First Name </label>
              <div class="col-6">
                <input type="text" class="form-control" id="firstname"
                         placeholder="eg. Stan" name="firstname"
                         [(ngModel)]="account.firstname" #firstName="ngModel"
                         required pattern="^[a-zA-Z]{2,32}$"/>
              </div>
              <div class="col-4">
                  <div *ngIf="!firstName.valid && firstName.touched">Firstname must be 2-32 characters,  a-Z, cannot repeat and empty</div>
              </div>
            </div>

            <div class="row form-group" >
              <label class="col-2 text-right">Last Name </label>
              <div class="col-6">
                <input type="text" class="form-control" id="lastname"
                       placeholder="eg. Smith" name="lastname"
                       [(ngModel)]="account.lastname" #lastName="ngModel"
                       required pattern="^[a-zA-Z]{2,32}$"/>
              </div>
              <div class="col-4">
                <div *ngIf="!lastName.valid && lastName.touched">Lastname must be 2-32 characters,  a-Z, cannot repeat and empty</div>
              </div>
            </div>

            <div class="row form-group" >
              <label class="col-2 text-right">Student ID </label>
              <div class="col-6">
                <input type="text" class="form-control" id="studentId"
                       placeholder="eg. 582115000" name="studentId"
                       [(ngModel)]="account.studentId" #studentID="ngModel"
                       required pattern="^[0-9]{9}$"/>
              </div>
              <div class="col-4">
                <div *ngIf="!studentID.valid && studentID.touched">Student ID must be 9 characters, only 0-9, cannot repeat and empty</div>
              </div>
            </div>

            <div class="row form-group" >
              <label class="col-2 text-right">Date of birth</label>
              <div class="col-6">
                <input type="text" class="form-control" id="dateofbirth"
                       name="dateofbirth" placeholder="eg. 1997-12-31"
                       [(ngModel)]="account.dateofbirth" #dateOfBirth="ngModel"
                       required pattern="(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))"/>
              </div>
              <div class="col-4">
                <div *ngIf="!dateOfBirth.valid && dateOfBirth.touched">Date of Birth must be yyyy-mm-dd format and cannot empty</div>
              </div>
            </div>

            <div class="row form-group" >
              <label class="col-2 text-right">Phone number </label>
              <div class="col-6">
                <input type="text" class="form-control" id="phonenumber"
                       placeholder="eg. +66929998877" name="phonenumber"
                       [(ngModel)]="account.phonenumber" #phoneNumber="ngModel"
                       required pattern="^[\+]\d{2}\d{9}"/>
              </div>
              <div class="col-4">
                <div *ngIf="!phoneNumber.valid && phoneNumber.touched">Phonenumber must be only 0-9, cannot repeat and empty. eg. +66929998877</div>
              </div>
            </div>

            <div class="row form-group">
              <button type="submit" class="btn btn-primary mx-2" [disabled]="!infoRegisterForm.form.valid">Next</button>
            </div>

        </form>
      </div>
    </div>
  </div>

</div>
</div>
