<script src="inforegistration.component.ts"></script><h1>Register</h1>
<h4>Step 2 of 3: Enter personal information </h4>
<div class="container mat-app-background">
  <div class="row">
    <div class=" col-md-12">
      <div class="form-group">
        <p></p>
        <form #infoRegisterForm="ngForm" (ngSubmit)="onSubmit(account)">
            <div class="row form-group" >
                <label class="col-2 text-right">First Name </label>
                <div class="col-8">
                  <input class="form-control" id="firstName" style="background-color: rgba(255, 255, 255, 0.5)" required>
                </div>

            </div>

            <div class="row form-group" >
                <label class="col-2 text-right">Last Name </label>
                <div class="col-8">
                  <input class="form-control" id="lastName" style="background-color: rgba(255, 255, 255, 0.5)" required>
                </div>
            </div>

            <div class="row form-group" >
                <label class="col-2 text-right">Student ID </label>
                <div class="col-8">
                  <input class="form-control" id="studentID" style="background-color: rgba(255, 255, 255, 0.5)" required>
                </div>
            </div>

            <div class="row form-group" >
                <label class="col-2 text-right">Date of birth</label>
                <div class="col-8">
                  <input class="form-control" id="dateOfBirth" style="background-color: rgba(255, 255, 255, 0.5)" required>
                </div>
            </div>

            <div class="row form-group" >
                <label class="col-2 text-right">Phone number </label>
                <div class="col-8">
                  <input class="form-control" id="phoneNumber" style="background-color: rgba(255, 255, 255, 0.5)" required>
                </div>
            </div>

        </form>
      </div>
    </div>
  </div>
  <button type="button" class="btn btn-primary mx-2" >Next</button>
</div>
