<div class="container" style="height: 100%">
  <div class="row justify-content-center" style="height: 100%">
    <div class="col align-self-center form">

      <div>
        <app-webcam></app-webcam>
        <br/>
        <button class="actionBtn btn btn-primary mx-2" [disabled]="isProcessing" (click)="login();">Login with Face</button>
        <br/>
      </div>

    </div>

    <div style="z-index:5; position : fixed;display : flex; align-self : flex-end;bottom : 10%; margin-bottom : 68px;">

      <!--<a md-mini-fab routerLink="." style="margin-right : 14px;" (click)=-->
        <!--"tShowAdu()">-->
        <!--<md-icon>add</md-icon>-->
      <!--</a>-->

    </div>
  </div>
</div>
